@font-face {
    font-family: 'Poppins';
    src: url('assets/fonts/poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}





html, body {
    font-family: 'Poppins', Arial, sans-serif;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    touch-action: manipulation; /* Deaktiviert Doppeltipp-Zoom */
    
    }
    
    